.two-column-container{
    padding: 100px 0;
    background: #FFF4E58C;
}

.two-column-container h2{
    margin-bottom: 30px;
}

.two-column-container span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.two-column-container .text{
    margin-bottom: 20px;
}

.two-column-container .btn{
    margin-top: 30px;
    display: block;
    width: fit-content;
}

.two-column-container .row{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.two-column-container .column-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.two-column-container .column img{
    height: 650px;
    object-fit: cover;
    width: 800px;
}