.navbar-container{
    z-index: 1;
    position: relative;
}

.navbar-container.sticky{
    position: sticky;
}

.navbar-container .sub-container{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-container .row,
.navbar-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .row{
    min-height: 100px;
}

.navbar-container nav ul{
    gap: 32px;
    list-style: none;
}

.navbar-container nav ul li a{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

.navbar-container .navbar-right{
    position: relative;
}

.navbar-container .dropbar{
    opacity: 0;
    position: absolute !important;
}

.navbar-container .dropbar-show{
    opacity: 1;
    position: absolute !important;
    transition: .3s ease;
    background: #fff;
    left: 80px;
    z-index: 1;
}

.navbar-container .dropbar-show ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    padding: 0;
}

.navbar-container .dropbar-show ul li{
    width: 100%;
}

.navbar-container .dropbar-show ul a{
    color: #000;
    width: 100%;
    padding: 20px;
    display: block;
    transition: all .3s ease-in-out;
}

.navbar-container .dropbar-show ul a:hover{
    background: #005c4a7c;
}